<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Butcherman&family=Creepster&family=Eater&family=Emilys+Candy&family=Nosifer&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <title>HorrorLands - Stay Updated On All Things Horror!</title>
</head>
<body class="conPage">
        <nav class="nav">
            <a href="/articles">Articles</a>
            <a href="/movies">Movies</a>
            <a href="/">Home</a>
            <a href="/memorabilia">Junkyard</a>
            <a href="/music">Music</a>
        </nav>
    <div class="pages">
        <h1>Conventions</h1> 
        <p>2023 LIST</p>
    </div>
        <div class="addCon">
            <p>Have a convention you want to keep an eye on? Add it to the list!</p> <a href="https://horrorcons.com/calendar/" target="_blank" rel="noopener noreferrer" class="text btn btn-outline-warning">SEE ALL</a></br>
             <a href="/conventions/new" class="btn btn-outline-light btn-sm">Add Convention</a>
        </div>
<div class="container" id="conContainer">
    <div class="card-group">
        <div class="row">
        <% for (let i = 0; i < cons.length; i++) { %>
            <div class="col-lg-3 col-md-6">
                <div class="card mt-3">
                <div class="card-body conBody">
                <a href="/conventions/<%=cons[i]._id%>">
                    <h1 class="conName"><%= cons[i].name %> </br></h1>
                    <img class="card-img-top con-img img-thumbnail" style="width: 15rem; height: 8rem;" src="<%= cons[i].img %>">  </br>
                    <p class="conText"><%= cons[i].date %> </br>
                    <%= cons[i].location %> </br></p></a>
                    <form class="conText" action="/conventions/<%=cons[i].id%>?_method=DELETE" method="POST"> <input type="submit" value="DELETE"></form>
                </div>
                </div>
            </div>
     <% } %>
</div>
    </div>
    </div>
</div>
</body>
</html>