<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>HorrorLands - Stay Updated On All Things Horror!</title>
</head>
<body>
    <nav class="nav">
        <a href="/articles">Articles</a>
        <a href="/movies">Movies</a>
        <a href="/">Home</a>
        <a href="/memorabilia">Memorabilia</a>
        <a href="/music">Music</a>
    </nav>
    <div class="pages">
    <h1>Conventions</h1> 
    <p>2023 LIST</p>
    </div>
    <ul>
        <% for (let i = 0; i < cons.length; i++) { %>
            <li> <a href="/conventions/<%=cons[i]._id%>">
                <%= cons[i].name %> </br>
                <img src="<%= cons[i].img %>">  </br>
                <%= cons[i].date %> </br>
                <%= cons[i].location %> </br>
            </a>
            </li>
    <% } %>
    <p class="text"> See a convention you want to keep an eye on? Add it to the list! </p> <a href="https://horrorcons.com/calendar/" class="text" target="_blank" rel="noopener noreferrer"> SEARCH FOR MORE</a></br>
    <a href="/conventions/new">Add Convention</a>
    </ul>
</body>
</html>