<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <title>HorrorLands - Stay Updated On All Things Horror!</title>
</head>
<body>
    <a href="/conventions">Nevermind</a>
    <h1>Edit Con Details</h1>
    <form action="/conventions/<%=edit.id%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%=edit.name%>"></br>
        Date: <input type="text" name="date" value="<%=edit.date%>"></br>
        Location: <input type="text" name="location" value="<%=edit.location%>"></br>
        Tickets: <input type="text" name="links" placeholder="link to tickets" value="<%=edit.links%>"></br>
        Guests: <input type="text" name="links" placeholder="link to guestlist" value="<%=edit.links%>"></br>
        Vendors: <input type="text" name="links" placeholder="link to vendors" value="<%=edit.links%>"></br>
        Logo (optional): <input type="text" name="img" placeholder="link to img" value="<%=edit.img%>"></br>
        <input type="submit" value="Submit Changes"></br>
</body>
</html>