<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="./css/style.css">
        <title>HorrorLands - Stay Updated On All Things Horror!</title>
    </head>
<body>
    <nav>
        <a href="/memorabilia">Return to Items</a>
    </nav>
        <h1><%=mem.product%></h1></br>
            <p><%=mem.price %></p>
            <img src="<%=mem.showImg %>">
            <% if(mem.canBuy === true){ %>
            This item is now available.
            <%} else {%>
            This item is now sold out.
            <%}%>
        Direct link to shop: <a href="<%=mem.linkToBuy%>" target="_blank" rel="noopener noreferrer" class="btn btn-success">HERE</a>
    <a href="/memorabilia/<%=mem.id; %>/edit" class="btn btn-warning btn-sm col-sm">Edit Availability</a>
</body>
</html>