<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/css/style.css">
        <title>HorrorLands - Stay Updated On All Things Horror!</title>
    </head>
</head>
<body>
    <div>
        <a href="/conventions" class="btn btn-outline-secondary col-sm">Return to List</a> 
    </div>
        </br>
    <div>
        <a href="/conventions/<%=con.id; %>/edit" class="btn btn-warning btn-sm col-sm">Edit</a>
    </div>
        </br>
    <img src="<%= con.img %>"> 
        </br>
    <div class="col-sm-10">
        <a href="<%=con.links[0]%>" target="_blank" rel="noopener noreferrer" class="btn btn-success">TICKETS</a>
    </div>
        </br>
    <div class="col-sm-10">
        <a href="<%=con.links[1]%>" target="_blank" rel="noopener noreferrer" class="btn btn-success"> GUESTS</a> 
    </div>
        </br>
    <div class="col-sm-10">
        <a href="<%=con.links[2]%>" target="_blank" rel="noopener noreferrer" class="btn btn-success">VENDORS </a>
    </div>
</body>
</html>